/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url('/assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-display: swap;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.cdk-visually-hidden {
  display: none;
}
